* {
  font-family: "Poppins", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-file-upload-button {
  display: none;
}

::file-selector-button {
  display: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-moz-selection {
  /* Code for Firefox */
  background: #5bb336;
}

::selection {
  background: #5bb336;
}
.hr-line {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* ================================================ Login Form ================================================ */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-section img {
  margin-bottom: 50px;
  width: 40%;
}
.admin-form {
  width: 80%;
}
.admin-login-btn {
  border: 0;
  width: 100%;
  margin-top: 30px;
  height: 50px;
  background-color: #5bb336 !important;
  font-weight: 900;
  font-size: 18px;
}
.login-section-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content !important;
  height: fit-content;
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  flex: 1;
}
.login-section-banner img {
  width: 100% !important;
  height: auto !important;
}

/* ========================== Side Navbar ========================== */
.side-nav-custom {
  border-radius: 5px;
  position: fixed;
  width: 220px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  background-color: #fff;
  left: 0;
  margin-top: 50px;
  margin-left: 10px;
  padding: 15px;
  z-index: 999;
}
.side-nav-brand {
  max-width: 200px;
  max-height: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-nav-brand img {
  width: 80px;
  height: auto;
}
.outer-nav-icon {
  margin-right: 5px;
  font-size: 14px;
  color: #5bb336;
}
.side-nav-text {
  color: #777 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}
.side-nav-header {
  margin-top: 10px;
  margin-bottom: 5px !important;
  font-size: 10px;
  color: #777;
  font-weight: 500;
}
/* ========================== Navbar ========================== */
.mob-nav {
  visibility: hidden;
}
.navbar {
  background-color: #fff !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #5bb336;
  position: fixed !important;
  width: 100%;
  z-index: 999;
  top: 0;
}
.navbar-brand img {
  width: 25%;
  height: auto;
}
.nav-link {
  font-size: 14px;
  font-weight: 600;
}
.nav-link:hover {
  color: #5bb336 !important;
  font-weight: bold;
  transition: all 0.5s;
}
.dropdown-item {
  font-size: 14px;
  font-weight: 600;
}
.dropdown-item:hover {
  color: #5bb336 !important;
  font-weight: bold;
  transition: all 0.5s;
  background-color: #00000000 !important;
}

/* ========================== Main Dashboard ========================== */
.section-container {
  position: static !important;
  width: 80% !important;
  left: 0;
  right: 0;
  margin-left: 240px !important;
}
.section-container p {
  margin: 5px;
  font-size: 14px;
  margin-top: 50px;
}
.tab-grid {
  display: flex;
  flex-wrap: wrap;
}
.dashboard-tab {
  max-width: 200px;
  max-height: 100px;
  width: 100%;
  height: 100px;
  text-decoration: none !important;
  color: #000;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  margin: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start;
  padding: 10px;
}
.dashboard-tab-label {
  margin: 0 !important;
  font-size: 12px;
  width: 100%;
}
.dashboard-tab-res {
  font-weight: 600;
  margin: 0 !important;
  width: 100%;
  font-size: 22px !important;
}
.section-flex {
  display: flex;
}

/* ========================== Dashboard Table ========================== */
.table-heading {
  font-size: 14px;
  font-weight: 500;
}

/* ================================================ COMMON ELEMENTS ================================================ */
.section-wrapper {
  width: 100%;
  padding: 10px;
  margin-top: 20px !important;
}
.section-table {
  margin-top: 20px;
  margin-left: 100px !important;
  width: 100% !important;
}
.section-heading {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600 !important;
  margin: 0 !important;
}
.section-details {
  margin: 0 !important;
  margin-bottom: 30px !important;
}
.display-products {
  width: 100% !important;
  border: 1px solid #e7e7e7 !important;
  border-radius: 5px;
  background-color: #fff;
}
.admin-form-section {
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 20px;
}
.admin-form-section-sm {
  border: 1px solid #e7e7e7 !important;
  border-radius: 5px !important;
  padding: 20px !important;
}
.admin-section-card {
  width: 100% !important;
}
.admin-section-row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.admin-section-row-sm {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 50%;
}
.admin-section-row-bordered {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid #e7e7e7 !important;
}
.admin-section-row-start {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  border: 1px solid #e7e7e7 !important;
  height: 100%;
}
.admin-section-col-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100%;
}
.admin-section-col-center-sm {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  height: 100%;
  padding: 10px;
}
.admin-section-col-start {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100%;
  margin: 20px;
}
.admin-input {
  border: 0 !important;
  width: 100%;
}
.admin-flex {
  flex: 1 !important;
}
.admin-section-img-20-bordered {
  width: 20% !important;
  height: auto !important;
  border: 1px solid #e7e7e7;
}
.product {
  font-size: 20px !important;
  margin: 0 !important;
  font-weight: bold;
  color: #5bb336 !important;
}
.category {
  font-size: 16px;
  margin-bottom: 20px;
  color: #777 !important;
}
.admin-table-img img {
  width: 100px !important;
  height: auto !important;
}
.table-img-sm {
  width: 20% !important;
  height: auto !important;
}
.wrapper-row {
  display: flex;
  flex-wrap: wrap;
}
.wrapper-box-col {
  width: 400px !important;
  height: 400px !important;
  border: 1px solid #e7e7e7;
  background-color: #fff !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  padding: 10px;
  flex: 1 1 1 400px;
  margin: 5px;
}
.wrapper-box-col img {
  width: 350px;
  height: auto;
  border-radius: 5px !important;
}
.form-check-label {
  font-size: 12px !important;
}
.inner-label {
  font-size: 14px !important;
  font-weight: bold;
}
.box {
  border: 1px solid #e7e7e7;
}
.inventory-img-section {
  border: 1px solid #e7e7e7;
}
.product-img-section {
  border: 1px solid #e7e7e7 !important;
  width: 300px !important;
  height: 229px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}
.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px !important;
  height: 150px !important;
  border: 0 !important;
  border-radius: 5px !important;
}
.update-img {
  width: 300px !important;
  height: 200px !important;
}
.image-upload-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.image-upload-box {
  width: 117px;
  height: 117px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin: 3px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column !important;
}
.img-upload-btn {
  font-size: 0px !important;
  width: 100%;
  border: 0 !important;
  background-image: url("../images/icons/cloud-upload-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  height: 30px;
  text-align: center;
  color: #777;
}
.img-label {
  text-align: left !important;
  font-size: 16px !important;
  width: 100%;
  margin-bottom: 5px;
}
/* ================================================ BUTTONS ================================================ */
.confirm-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px !important;
  background-color: #5bb336 !important;
  border-radius: 5px !important;
  border: 0 !important;
  font-size: 18px !important;
}
.confirm-button-md {
  margin-top: 20px;
  padding: 10px !important;
  background-color: #5bb336 !important;
  border-radius: 5px !important;
  border: 0 !important;
  font-size: 18px !important;
}
.update-button {
  margin-top: 20px;
  width: 100%;
  padding: 10px !important;
  background-color: #ed873e !important;
  border-radius: 5px !important;
  border: 0 !important;
  font-size: 18px !important;
  flex: 1;
  margin: 10px;
}
.update-btn-sm {
  width: 100% !important;
  background-color: #fff;
  border: 1px solid #5bb336 !important;
  color: #5bb336 !important;
  font-size: 12px !important;
  margin-top: 5px;
}
.confirm-button-table {
  background-color: #fff;
  border: 1px solid #5bb336 !important;
  color: #5bb336 !important;
  border-radius: 3px !important;
}
.confirm-button-table:hover {
  background-color: #5bb336;
  border: 1px solid #5bb336 !important;
  color: #fff !important;
}
.edit-button {
  margin-top: 20px;
  margin: 10px;
  width: 100%;
  padding: 10px !important;
  background-color: #1e5f94 !important;
  border-radius: 5px !important;
  border: 0 !important;
  font-size: 18px !important;
  flex: 1;
}
.payment-paid {
  border: 1px solid #5bb336;
  text-align: center;
  border-radius: 3px;
  background-color: #5bb336;
  font-weight: bold;
  color: #fff;
}
.payment-fail {
  border: 1px solid #a84c32;
  text-align: center;
  border-radius: 3px;
  background-color: #a84c32;
  font-weight: bold;
  color: #fff;
}
.pending {
  border: 1px solid #a84c32;
  text-align: center;
  border-radius: 3px;
  background-color: #a84c32;
  font-weight: bold;
  color: #fff;
}
.confirmed {
  border: 1px solid #1e5f94;
  text-align: center;
  border-radius: 3px;
  background-color: #1e5f94;
  font-weight: bold;
  color: #fff;
}
.shipped {
  border: 1px solid #5bb336;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  font-weight: bold;
  color: #5bb336;
}
.table-edit-btn {
  width: 100%;
  font-size: 14px !important;
  background-color: #ed873e;
  border: 0 !important;
  border-radius: 3px !important;
}
.del-btn-sm {
  background-color: #a84c32;
  border: 0 !important;
  margin-top: 10px;
  width: 100px;
  border-radius: 3px;
  padding: 3px;
  color: #fff;
}
.active-btn {
  color: #5bb336;
  border: 1px solid #5bb336;
  border-radius: 3px;
  padding: 3px;
}
.inactive-btn {
  color: #a84c32;
  border: 1px solid #a84c32;
  border-radius: 3px;
  padding: 3px;
}

/* ================================================ Dashboard ================================================ */
.dashboard-tab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tabs#red {
  text-decoration: none !important;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: rgb(233, 89, 80);
  background: linear-gradient(
    90deg,
    rgba(233, 89, 80, 1) 24%,
    rgba(190, 51, 43, 1) 51%
  );
  margin: 5px;
}
.tabs#green {
  text-decoration: none !important;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: rgb(91, 179, 54);
  background: linear-gradient(
    90deg,
    rgba(91, 179, 54, 1) 0%,
    rgba(50, 153, 46, 0.8099614845938375) 35%
  );
  margin: 5px;
}
.tabs#blue {
  text-decoration: none !important;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  width: 300px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: rgb(42, 76, 194);
  background: linear-gradient(
    90deg,
    rgba(42, 76, 194, 1) 0%,
    rgba(55, 113, 170, 0.8827906162464986) 41%
  );
  margin: 5px;
}
.tabs p {
  margin: 0;
  color: #fff;
}
.tabs h1 {
  margin: 0;
  font-weight: bold;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .side-nav-custom {
    display: none !important;
  }
  .section-container {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .tab-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .dashboard-tab {
    max-width: 100%;
    max-height: 100px;
    width: 100%;
    height: 100px;
  }
  .section-flex {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
  }
}
