* {
  font-family: "Quicksand", sans-serif !important;
}

::-moz-selection {
  /* Code for Firefox */
  background: #5bb336;
}

::selection {
  background: #5bb336;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* =========== Login Modal =========== */
.login-lottie {
  width: 300px;
  height: 300px;
}
.modal-content {
  background-color: #fff;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
}
.modal-left {
  background-color: #5bb336;
  padding: 40px;
}
.modal-left h1 {
  font-weight: 800;
  color: #fff;
}
.modal-left p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}
.login-modal-form {
  padding: 40px;
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-direction: column;
}
.login-modal-disclaimer p {
  margin-top: 15px;
  font-size: 14px;
}
.login-modal-btn {
  width: 100% !important;
  border: 0;
  background-color: #44ad40;
  padding: 15px;
  font-size: 22px;
  color: #fff;
  font-weight: 800;
}

/* =========== Maintenance =========== */
.under-maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
  flex-direction: column;
}
.under-maintenance h1 {
  margin-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  color: #5bb336;
}
.under-maintenance p {
  margin: 0;
  color: #000;
  top: 0;
}
.maintenance-lottie {
  width: 100px;
  height: 100px;
  margin-bottom: -115px;
  margin-left: 5px;
}
/* =========== Top Navbar =========== */
.top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 5px;
}
.top-navbar-brand {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  max-width: 100%;
  height: auto;
}
.top-navbar-brand a {
  max-width: 100%;
  height: auto;
  text-decoration: none;
}
.top-navbar-brand img {
  width: 60%;
  height: auto;
}
.top-nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  margin: 0;
}
.top-nav-inner-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 100%;
  margin-right: 30px;
}
.top-nav-inner-row a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
}
.top-nav-inner-row a:hover {
  text-decoration: none !important;
  color: #5bb336 !important;
  font-weight: bold;
  transition: all 0.5s;
}
.top-nav-inner-row p:hover {
  color: #5bb336;
  font-weight: bold;
  transition: 0.5s;
}
.top-nav-icon {
  font-size: 24px;
}
.top-nav-inner-row p {
  font-size: 16px;
  color: #2d4454;
  margin-left: 5px;
}
.top-nav-support-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.earphone {
  font-size: 30px;
  margin-right: 20px;
  font-weight: 800;
  color: #2d4454;
}
.top-nav-support-section h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0;
  color: #5bb336;
}
.top-nav-support-section p {
  margin-top: 0 !important;
  margin-bottom: 0;
  top: 0;
  left: 0;
  font-size: 12px;
}

/* =========== Navbar =========== */
.navbar {
  background-color: #fff !important;
  border-top: 0.5px solid #efefef;
  border-bottom: 0.5px solid #efefef;
  padding: 10px;
}
.navbar-brand {
  display: none;
}
.nav-link {
  font-weight: 800 !important;
  font-size: 16px;
  color: #2d4454;
}
.nav-link:hover {
  color: #5bb336 !important;
}
.dropdown-item {
  font-weight: 800 !important;
  font-size: 16px;
  color: #2d4454;
  padding-bottom: 5px;
}
.dropdown-item:hover {
  background-color: #00000000;
  color: #5bb336 !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-image {
  width: 400px;
  height: auto;
  margin-bottom: -8px !important;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.dropdown-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 10px;
}
.dropdown-row img {
  width: 30px;
  height: auto;
}
.mobile {
  display: none;
}

/* =========== Banner Section =========== */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #5bb336; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 100%; /* Rounded corners */
  font-size: 12px; /* Increase font size */
  width: 80px;
  height: 80px;
  justify-self: center !important;
  align-self: center !important;
  font-weight: 700;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #cbf7be !important;
}
.banner-content {
  padding: 20px;
}
.banner-content h1 {
  font-size: 66px;
  font-weight: 600 !important;
  line-height: 55px;
}
.banner-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img img {
  width: 100%;
  height: auto;
  border-top-right-radius: 20px !important;
}
#banner-red {
  background-color: #e6959d !important;
}
.carousel-control-prev-banner {
  content: url("../images/icons/arrow-back-circle-outline.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
  color: #fff;
}
.carousel-control-prev-banner:hover {
  content: url("../images/icons/arrow-back-circle-dark.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
}
.carousel-control-next-banner {
  content: url("../images/icons/arrow-forward-circle-outline.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
}
.carousel-control-next-banner:hover {
  content: url("../images/icons/arrow-forward-circle-dark.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
}

/* =========== Category Slider Section =========== */
.category-slider-mobile {
  display: none !important;
}
.carousel-control-prev-icon {
  content: url("../images/icons/arrow-back-circle-outline.svg");
  background: #00000000;
}
.carousel-control-next-icon {
  content: url("../images/icons/arrow-forward-circle-outline.svg");
  background: #00000000;
}
.category-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 210px;
  border-radius: 10px;
  margin: 10px;
}
.inner-card:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}
.inner-card p {
  font-weight: 700;
  margin-top: 15px;
}
#inner-card-pale {
  background-color: #f2fce4;
}
#inner-card-pale-yellow {
  background-color: #fffceb !important;
}
#inner-card-blue {
  background-color: #fff3ff !important;
}
#inner-card-green {
  background-color: #ecffec !important;
}
#inner-card-red {
  background-color: #feefea !important;
}

/* =========== Bestseller Section =========== */
.section-label {
  margin-top: 50px !important;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
}
.best-seller-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-seller-section h1 {
  font-weight: 600;
  margin-bottom: 30px;
}
.best-product-card {
  width: 250px;
  height: 400px;
  border: 1px solid #c7c7c7c7;
  border-radius: 30px !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
}
.product-img img {
  width: 249px;
  height: 350px !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/background/moringa-leaves.jpg");
}
.product-img:hover {
  width: 249px;
  height: 350px !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/background/moringa-leaves.jpg");
  transition: 0.5s all ease-in-out;
}
.best-seller-card-content {
  padding: 10px;
}
.best-product-card p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.best-product-card h5 {
  color: #000;
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
}
.best-seller-mrp-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.best-seller-mrp-section p {
  flex: 1;
}
.best-seller-mrp-section a {
  text-decoration: none;
  background-color: #5bb336;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
#cart-icon {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}
.checked {
  color: orange !important;
}
/* =========== Shop Section =========== */
.shop {
  margin-top: 50px !important;
  padding: 50px;
}
.shop-heading-section {
  margin-bottom: 30px;
}
.shop-heading-section h4 {
  color: #777;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.shop-heading-section h1 {
  font-weight: 800;
  color: #5bb336;
}
.shop-card {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #e7e7e7e7;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.shop-card-img {
  width: 30%;
  height: auto;
  margin-right: 20px;
}
.shop-card-img img {
  width: 100%;
}
.item_name {
  font-size: 30px !important;
  font-weight: 800 !important;
  margin: 0;
  background-color: #00000000;
  border: 0;
  color: #000;
}
.item_description {
  font-size: 16px;
  margin: 0;
  background-color: #00000000;
  border: 0;
  color: #000;
}
.item_price {
  font-size: 24px !important;
  font-weight: 600;
  flex: 1 !important;
  background-color: #00000000 !important;
  border: 0;
  color: #44ad40 !important;
}
.shop-card-content h5 {
  font-size: 16px;
}

/* =========== Cart Section =========== */
.cart-section {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cart-heading-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart-heading-section p {
  font-size: 22px;
  flex: 1;
}
.cart-remove-btn {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #00000000;
  border: 0;
}
.cart-remove-btn p {
  color: #bd5046;
  font-weight: bold;
  font-size: 18px;
}
.cart-remove-btn ion-icon {
  margin-right: 10px;
  font-size: 22px;
  color: #bd5046;
}
.main-cart {
  margin-top: 20px;
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.cart-product-img {
  max-width: 20%;
  height: auto;
  margin-right: 20px;
}
.cart-product-img img {
  width: 100%;
  height: auto;
}
.cart-product-details h3 {
  font-size: 16px;
  color: #555;
}
.cart-product-details h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.cart-product-details p {
  padding-right: 50px;
}
.cart-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 30px;
}
.chevron-up-outline {
  font-size: 24px;
  color: #bd5046;
}
.chevron-down-outline {
  font-size: 24px;
  color: #44ad40;
}
.value-button {
  margin: 5px;
}
.cart-calculator input {
  border: 1px solid #e7e7e7;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 50px;
  border-radius: 10px;
}
.cart-product-price p {
  color: #44ad40;
  font-weight: 800;
  font-size: 30px;
  margin-left: 20px;
}
.final-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.user-details {
  margin-bottom: 10px;
  flex: 1;
}
.user-details input {
  font-size: 18px;
  margin: 0;
}
#user-details-heading {
  font-size: 16px;
  color: #777;
  font-weight: 400;
}

/* =========== Newsletter Section =========== */
.newsletter-section {
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 30px !important;
  background-color: #d8f1e5 !important;
  border-radius: 10px;
}
.newsletter-section h1 {
  font-weight: 900;
  font-size: 60px;
}
.newsletter-section p {
  color: #777;
}
.newsletter-btn {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  margin-top: 30px !important;
}
#plane-icon {
  margin-right: 20px;
  color: #777;
  font-size: 30px;
  padding-left: 15px;
  color: #5bb336 !important;
}
.newsletter-btn input {
  border: 0 !important;
  width: 100%;
}
.newsletter-btn input:focus {
  outline: 0 !important;
}
.newsletter-btn a {
  margin: 0;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  align-self: center !important;
  justify-self: center;
  width: 100%;
  background-color: #5bb336;
  top: 0 !important;
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
}
.newletter-lottie {
  width: 300px;
  height: 300px;
}

/* =========== Customer Feedback Section =========== */
#mobile {
  display: none;
}
.feedback-section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}
.static-poster {
  width: 300px;
  height: 400px;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  border: 1px solid #c7c7c7c7;
  padding: 10px;
  border-radius: 10px;
  background-image: url("../images/background/static-image-moringa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.static-poster h1 {
  font-weight: bold !important;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 30px;
}
.reusable-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  margin: 15px;
}
.carousel-control-prev-icon-reusable {
  content: url("../images/icons/caret-back-circle-outline.svg");
  background: #00000000;
  margin-left: -80px;
  width: 30px;
}
.carousel-control-prev-icon-reusable:hover {
  content: url("../images/icons/caret-back-circle-dark.svg");
  transition: all 0.5s;
  width: 40px;
  background-color: #5bb336 !important;
  border-radius: 100%;
}
.carousel-control-next-icon-reusable {
  content: url("../images/icons/caret-forward-circle-outline.svg");
  background: #00000000;
  margin-right: -80px;
  width: 30px;
}
.carousel-control-next-icon-reusable:hover {
  content: url("../images/icons/caret-forward-circle-dark.svg");
  transition: all 0.5s;
  width: 40px;
  background-color: #5bb336 !important;
  border-radius: 100%;
}
.slider-inner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 50px;
}
.slider-card {
  width: 250px;
  height: 350px;
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px 0 0 20px;
}
.slider-card:hover {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(91, 179, 54, 1);
  -moz-box-shadow: 0px 0px 15px 1px rgba(91, 179, 54, 1);
  box-shadow: 0px 0px 15px 1px rgba(91, 179, 54, 1);
  transition: all 0.5s;
  border: 0;
}
.slider-card h4 {
  font-weight: 900;
  margin-top: 10px;
}
.slider-card img {
  width: 20% !important;
  height: auto;
}
.slider-card p {
  text-align: center;
  margin-top: 10px;
}

/* =========== Footer =========== */
.footer-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100% !important;
  border-top: 1px solid #c7c7c7c7;
  padding: 20px;
}
.footer-section-col {
  max-width: 100%;
}
.footer-section-col img {
  width: 50%;
  height: auto;
}
.footer-section-col p {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-section-col h4 {
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-section-col li {
  list-style: none !important;
  margin-bottom: 10px;
  font-size: 16px;
}
.footer-section-col li:hover {
  color: #5bb336;
  font-weight: bold;
}
.footer-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}
.footer-row p {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}
#footer-icon {
  font-size: 20px;
  color: #5bb336;
}

/* =========== Register Section =========== */
.register-section {
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.register-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}
.register-header h1 {
  font-weight: bold;
  margin: 0;
  color: #5bb336;
}
.register-header p {
  margin: 0;
}
.register-header span a {
  color: #5bb336;
  font-weight: bolder;
  text-decoration: none;
}
.register-section-banner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-width: 100%;
}
.register-section-banner img {
  width: fit-content;
  height: auto;
  justify-self: center;
  align-self: center;
  display: flex;
  border-radius: 10px;
  width: 90%;
}
.register-btn {
  width: 100%;
  padding: 20px;
  background-color: #5bb336;
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
  border: 0 !important;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.register-btn:hover {
  font-weight: bold !important;
}

/* ========= Section Heading ========= */
.section-heading-container {
  background-color: #fff3ff;
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 95%;
}
.section-heading-container h1 {
  font-weight: 600;
}
.breadcrumb-item {
  color: #5bb336 !important;
  font-weight: bold !important;
}
.breadcrumb-item a {
  text-decoration: none !important;
  color: #777 !important;
}

/* ========= Shop ========= */
.shop-section-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.shop-section-heading img {
  width: 60%;
}
.shopping-section {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 150px;
}
.shopping-section-heading h1 {
  font-weight: 700;
  color: #5bb336;
}
.shopping-section-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.shopping-section-card {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: auto;
}
.shopping-section-card img {
  width: 200px;
  height: auto;
}
.shopping-section-product-details {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  margin-bottom: 40px;
}
.product_name {
  border: 0;
  width: 100%;
  font-weight: 600;
  color: #44ad40;
  font-size: 18px;
  margin: 0;
}
.product-weight {
  border: 0;
  width: 100%;
  color: #777;
  margin: 0;
}
.shopping-action-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
}
.product_price {
  border: 0;
  width: 100%;
  font-weight: 600;
  color: #44ad40;
  font-size: 18px;
  margin: 0;
}
.product-qty-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-qty-calculator input {
  border: 1px solid #e7e7e7;
  text-align: center;
  width: 50px;
  border-radius: 20px;
  font-weight: bold;
}
.add-cart-btn {
  width: 100px;
  border: 1px solid #44ad40;
  padding: 5px;
  color: #44ad40;
  border-radius: 5px;
}
.add-cart-btn:hover {
  color: #fff;
  background-color: #44ad40;
}

/* .product {
  margin-top: 100px;
}
.product p {
  margin: 0;
}
.product h1 {
  margin: 0;
  font-weight: 600;
  color: #44ad40;
  margin-bottom: 40px;
}
.product-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.product-section {
  flex: 1 1 1 100px !important;
}
.product-card {
  width: fit-content;
  height: 550px;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
}
.product-card img {
  width: 300px;
  height: auto;
}
.product-description {
  padding: 20px;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.product_name {
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
  border: 0;
}
.product-weight {
  color: #777 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
  border: 0;
}
.product-action-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 30px;
}
.product_price {
  color: #5bb336 !important;
  font-weight: 600;
  margin-right: 10px;
  border: 0;
  flex: 1;
  font-size: 24px;
}
.product-qty-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-qty-calculator input {
  border: 1px solid #e7e7e7;
  text-align: center;
  width: 50px;
  border-radius: 20px;
  font-weight: bold;
}
.add-btn {
  background-color: #44ad40;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.add-btn:hover {
  border: 0;
  color: #fff;
}
.read-more-btn {
  color: #5bb336;
  background-color: #00000000;
} */

/* ========= Category Wise Products ========= */
.shop-card-label {
  margin-bottom: 20px;
}
.shop-card-label p {
  margin: 0;
  font-weight: bold;
}
.item_description {
  font-size: 20px;
}
.shop-section {
  width: 100%;
  margin-top: 80px;
  padding: 25px;
  /* display: flex;
  flex-wrap: wrap;
  flex: 1 1 400px; */
}
.shop-section h4 {
  margin: 0 !important;
  font-size: 18px;
  color: #777;
}
.shop-section h1 {
  margin: 0 !important;
  color: #5bb336;
  font-weight: bolder !important;
}

.pricing-tab {
  width: 50%;
  margin-top: 50px;
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  padding: 20px;
}
.inner-headings {
  display: flex;
  justify-content: center;
  align-items: center;
}
#heading {
  flex: 1;
  font-weight: 700;
}
.checkout-btn {
  background-color: #44ad40;
  border: 0;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.checkout-btn:hover {
  font-weight: 900;
  color: #fff;
}

/* ========= Checkout Section ========= */
.checkout-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  margin-top: 20px;
  border: 1px solid #e7e7e7e7;
  border-radius: 5px;
}
.form-floating {
  width: 100%;
}
.payment-btn {
  width: 100%;
  background-color: #44ad40;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  font-size: 18px;
}

/* ========= Profile Section ========= */
.profile-section-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-decoration: none;
}
.profile-section-buttons ion-icon {
  font-size: 24px;
  margin-right: 15px;
  padding: 0;
  text-decoration: none;
  color: #000;
}
.profile-section-buttons p {
  font-size: 24px;
  font-weight: bold !important;
  padding: 0;
  margin: 0 !important;
  color: #000;
}

/* =================== RESPONSIVE =================== */
@media only screen and (max-width: 768px) {
  /* ======== Top Navbar ======== */
  .top-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    padding-top: 15px;
  }
  .top-navbar-brand img {
    display: none;
  }
  .top-nav-support-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid #c5c5c5c5;
  }
  .top-nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 100%;
  }
  .top-nav-inner-row:hover {
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
    transition: initial;
  }

  /* ========= Navbar ========= */
  .navbar-brand {
    max-width: 50% !important;
    height: auto;
    display: initial !important;
  }
  .navbar-brand img {
    width: 50%;
    height: auto;
  }
  .dropdown:hover .dropdown-menu {
    display: initial !important;
    margin-top: 0 !important;
  }
  .dropdown-image {
    display: none !important;
  }
  .dropdown-row {
    display: none;
  }
  .mobile {
    display: initial;
  }

  /* =========== Banner Section =========== */
  .banner {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #cbf7be !important;
  }
  .banner-content {
    padding: 20px;
    width: 100% !important;
    flex-direction: column !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .banner-content h1 {
    font-size: 30px !important;
    font-weight: bolder;
    line-height: 30px;
  }
  .banner-img {
    max-width: 50% !important;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    border-top-right-radius: 20px !important;
  }
  #banner-red {
    background-color: #e6959d !important;
  }
  .carousel-control-prev-banner {
    display: none;
  }
  .carousel-control-next-banner {
    display: none;
  }

  /* =========== Category Slider Section =========== */
  .category-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carousel {
    background: none;
    background: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .category-slider-mobile {
    display: initial !important;
  }
  .inner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
    height: 210px;
    border-radius: 10px;
    margin: 10px;
    padding: 0 !important;
  }
  .inner-card img {
    width: 25% !important;
  }
  .inner-card p {
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
  }
  .carousel-control-prev {
    margin-top: 280px !important;
  }
  .carousel-control-prev-icon {
    content: url("../images/icons/arrow-back-circle-outline.svg");
    background: #00000000;
    margin: 0;
  }
  .carousel-control-next {
    margin-top: 280px !important;
  }
  .carousel-control-next-icon {
    content: url("../images/icons/arrow-forward-circle-outline.svg");
    background: #00000000;
    margin: 0;
  }

  /* =========== Bestseller Section =========== */
  .section-label {
    margin-top: 100px;
    margin-bottom: 5px !important;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
  .best-seller-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* =========== Newsletter Section =========== */
  .newsletter-section {
    margin-top: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 20px 20px 0 20px;
    background-color: #d8f1e5 !important;
    border-radius: 10px;
    max-width: 100%;
  }
  .newsletter-section h1 {
    font-weight: 700 !important;
    font-size: 30px;
    text-align: left;
  }
  .newsletter-section p {
    color: #777;
    font-size: 16px;
    text-align: left;
  }
  .newsletter-btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    margin-top: 30px !important;
  }
  #plane-icon {
    margin-right: 20px;
    color: #777;
    font-size: 30px;
    padding-left: 15px;
    color: #5bb336 !important;
  }
  .newsletter-btn input {
    border: 0 !important;
    width: 100%;
  }
  .newsletter-btn input:focus {
    outline: 0 !important;
  }
  .newsletter-btn a {
    margin: 0;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    align-self: center !important;
    justify-self: center;
    width: 100%;
    background-color: #5bb336;
    top: 0 !important;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
  }
  .newletter-lottie {
    max-width: 200px;
    height: 200px;
    margin-top: 50px;
  }

  /* =========== Customer Feedback Section =========== */
  .feedback-section-main {
    margin-bottom: 80px;
    margin-top: 100px !important;
  }
  #desktop {
    display: none !important;
  }
  #mobile {
    display: initial !important;
  }
  .static-poster {
    width: 150px;
    height: 200px;
  }
  .static-poster h1 {
    font-weight: bold !important;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    line-height: 18px;
    font-size: 18px;
  }
  .reusable-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    margin: 0;
  }
  .carousel-control-prev-icon-reusable {
    content: url("../images/icons/arrow-back-circle-outline.svg");
    background: #00000000;
    margin-left: 0;
    width: 30px;
  }
  .carousel-control-next-icon-reusable {
    content: url("../images/icons/arrow-forward-circle-outline.svg");
    background: #00000000;
    margin-right: 0;
    width: 30px;
  }
  .slider-inner-row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
  }
  .slider-card {
    width: 90%;
    height: 200px;
    border: 1px solid #e7e7e7e7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 0 20px 20px 0;
  }
  .slider-card h4 {
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-size: 16px;
  }
  .slider-card img {
    width: 20% !important;
    height: auto;
  }
  .slider-card p {
    text-align: center;
    font-size: 14px !important;
  }
  #prev,
  #next {
    margin: 0 !important;
  }

  /* ============ Footer Section ============ */
  .footer-section {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  #mobile-footer-header {
    margin-top: 50px;
  }

  /* =========== Register Section =========== */
  .register-section {
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
    width: 100%;
  }

  .register-section-banner {
    display: none !important;
  }

  /* ========= Section Heading ========= */
  .section-heading-container {
    background-color: #fff3ff;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: -50px;
    border-radius: 20px;
    width: 95%;
  }
  .section-heading-container h1 {
    font-weight: 600;
  }
  .breadcrumb-item {
    color: #5bb336 !important;
    font-weight: bold !important;
  }
  .breadcrumb-item a {
    text-decoration: none !important;
    color: #777 !important;
  }

  /* ========= Shop ========= */
  .shop-section-heading img {
    width: 80%;
  }
  .product-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .product-section {
    flex: 1 1 1 100px !important;
    max-width: fit-content !important;
  }
  .product-card {
    width: fit-content !important;
    height: 450px;
    border: 1px solid #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
  }
  .product-card img {
    width: 300px;
    height: auto;
  }
  .product-description {
    padding: 20px;
    border-top: 1px solid #e7e7e7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .product_name {
    font-size: 24px;
    font-weight: bolder;
    margin: 0;
    border: 0;
  }
  .product-weight {
    color: #777 !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    margin-bottom: 20px !important;
    border: 0;
  }
  .product-action-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px;
  }
  .product_price {
    color: #5bb336 !important;
    font-weight: 600;
    margin-right: 10px;
    border: 0;
    flex: 1;
    font-size: 24px;
  }
  .product-qty-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-qty-calculator input {
    border: 1px solid #e7e7e7;
    text-align: center;
    width: 50px;
    border-radius: 20px;
    font-weight: bold;
  }
  .add-btn {
    background-color: #44ad40;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .add-btn:hover {
    border: 0;
    color: #fff;
  }
}
