* {
  font-family: "Quicksand", sans-serif !important;
}

::-moz-selection {
  /* Code for Firefox */
  background: #5bb336;
}

::selection {
  background: #5bb336;
}

/* =========== Top Navbar =========== */
.top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 5px;
}
.top-navbar-brand {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  max-width: 100%;
  height: auto;
}
.top-navbar-brand a {
  max-width: 100%;
  height: auto;
  text-decoration: none;
}
.top-navbar-brand img {
  width: 60%;
  height: auto;
}
.top-nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  margin: 0;
}
.top-nav-inner-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 100%;
  margin-right: 30px;
}
.top-nav-inner-row a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
}
.top-nav-inner-row a:hover {
  text-decoration: none !important;
  color: #5bb336 !important;
  font-weight: bold;
  transition: all 0.5s;
}
.top-nav-inner-row p:hover {
  color: #5bb336;
  font-weight: bold;
  transition: 0.5s;
}
.top-nav-icon {
  font-size: 24px;
}
.top-nav-inner-row p {
  font-size: 16px;
  color: #2d4454;
  margin-left: 5px;
}
.top-nav-support-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.earphone {
  font-size: 30px;
  margin-right: 20px;
  font-weight: 800;
  color: #2d4454;
}
.top-nav-support-section h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0;
  color: #5bb336;
}
.top-nav-support-section p {
  margin-top: 0 !important;
  margin-bottom: 0;
  top: 0;
  left: 0;
  font-size: 12px;
}

/* =========== Navbar =========== */
.navbar {
  background-color: #fff !important;
  border-top: 0.5px solid #efefef;
  border-bottom: 0.5px solid #efefef;
  padding: 10px;
}
.navbar-brand {
  display: none;
}
.nav-link {
  font-weight: 800 !important;
  font-size: 16px;
  color: #2d4454;
}
.nav-link:hover {
  color: #5bb336 !important;
}
.dropdown-item {
  font-weight: 800 !important;
  font-size: 16px;
  color: #2d4454;
  padding-bottom: 5px;
}
.dropdown-item:hover {
  background-color: #00000000;
  color: #5bb336 !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-image {
  width: 400px;
  height: auto;
  margin-bottom: -8px !important;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.dropdown-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 10px;
}
.dropdown-row img {
  width: 30px;
  height: auto;
}
.mobile {
  display: none;
}

/* =========== Banner Section =========== */
.banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #cbf7be !important;
}
.banner-content {
  padding: 20px;
}
.banner-content h1 {
  font-size: 66px;
  font-weight: 600 !important;
  line-height: 55px;
}
.banner-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img img {
  width: 100%;
  height: auto;
  border-top-right-radius: 20px !important;
}
#banner-red {
  background-color: #e6959d !important;
}
.carousel-control-prev-banner {
  content: url("../images/icons/arrow-back-circle-outline.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
  color: #fff;
}
.carousel-control-prev-banner:hover {
  content: url("../images/icons/arrow-back-circle-dark.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
}
.carousel-control-next-banner {
  content: url("../images/icons/arrow-forward-circle-outline.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
}
.carousel-control-next-banner:hover {
  content: url("../images/icons/arrow-forward-circle-dark.svg");
  background: #00000000;
  width: 30px;
  margin-top: 300px;
}

/* =========== Category Slider Section =========== */
.category-slider-mobile {
  display: none !important;
}
.carousel-control-prev-icon {
  content: url("../images/icons/arrow-back-circle-outline.svg");
  background: #00000000;
}
.carousel-control-next-icon {
  content: url("../images/icons/arrow-forward-circle-outline.svg");
  background: #00000000;
}
.category-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 210px;
  border-radius: 10px;
  margin: 10px;
}
.inner-card:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}
.inner-card p {
  font-weight: 700;
  margin-top: 15px;
}
#inner-card-pale {
  background-color: #f2fce4;
}
#inner-card-pale-yellow {
  background-color: #fffceb !important;
}
#inner-card-blue {
  background-color: #fff3ff !important;
}
#inner-card-green {
  background-color: #ecffec !important;
}
#inner-card-red {
  background-color: #feefea !important;
}

/* =========== Bestseller Section =========== */
.section-label {
  margin-top: 50px !important;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 30px;
}
.best-seller-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-seller-section h1 {
  font-weight: 600;
  margin-bottom: 30px;
}
.best-seller-card {
  width: 250px;
  height: 400px;
  border: 1px solid #c7c7c7c7;
  border-radius: 30px !important;
  /* border-top-left-radius: 30px;
  border-bottom-right-radius: 30px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
}
.best-seller-card-img {
  width: 249px;
  height: 350px !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0;
  background-image: url("../images/background/moringa-leaves.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center !important;
  justify-self: center !important;
}
.best-seller-card-img:hover {
  width: 249px;
  height: 350px !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0;
  background-image: url("../images/background/moringa-leaves-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s;
}
.best-seller-card-content {
  padding: 10px;
}
.best-seller-card p {
  font-size: 12px;
  color: #333;
  margin: 0;
}
.best-seller-card h5 {
  color: #000;
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
}
.best-seller-mrp-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.best-seller-mrp-section p {
  font-size: 18px;
  font-weight: 600;
  flex: 1;
  color: #5bb336;
}
.best-seller-mrp-section a {
  text-decoration: none;
  background-color: #5bb336;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
#cart-icon {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}
.checked {
  color: orange !important;
}

/* =========== Newsletter Section =========== */
.newsletter-section {
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 30px !important;
  background-color: #d8f1e5 !important;
  border-radius: 10px;
}
.newsletter-section h1 {
  font-weight: 900;
}
.newsletter-section p {
  color: #777;
}
.newsletter-btn {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 100px;
  margin-top: 30px !important;
}
#plane-icon {
  margin-right: 20px;
  color: #777;
  font-size: 30px;
  padding-left: 15px;
  color: #5bb336 !important;
}
.newsletter-btn input {
  border: 0 !important;
  width: 100%;
}
.newsletter-btn input:focus {
  outline: 0 !important;
}
.newsletter-btn a {
  margin: 0;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  align-self: center !important;
  justify-self: center;
  width: 100%;
  background-color: #5bb336;
  top: 0 !important;
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
}
.newletter-lottie {
  width: 300px;
  height: 300px;
}

/* =========== Customer Feedback Section =========== */
#mobile {
  display: none;
}
.feedback-section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}
.static-poster {
  width: 300px;
  height: 400px;
  display: flex !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  border: 1px solid #c7c7c7c7;
  padding: 10px;
  border-radius: 10px;
  background-image: url("../images/background/static-image-moringa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.static-poster h1 {
  font-weight: bold !important;
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  line-height: 25px;
  font-size: 30px;
}
.reusable-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100% !important;
  margin: 15px;
}
.carousel-control-prev-icon-reusable {
  content: url("../images/icons/caret-back-circle-outline.svg");
  background: #00000000;
  margin-left: -80px;
  width: 30px;
}
.carousel-control-prev-icon-reusable:hover {
  content: url("../images/icons/caret-back-circle-dark.svg");
  transition: all 0.5s;
  width: 40px;
  background-color: #5bb336 !important;
  border-radius: 100%;
}
.carousel-control-next-icon-reusable {
  content: url("../images/icons/caret-forward-circle-outline.svg");
  background: #00000000;
  margin-right: -80px;
  width: 30px;
}
.carousel-control-next-icon-reusable:hover {
  content: url("../images/icons/caret-forward-circle-dark.svg");
  transition: all 0.5s;
  width: 40px;
  background-color: #5bb336 !important;
  border-radius: 100%;
}
.slider-inner-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 50px;
}
.slider-card {
  width: 250px;
  height: 350px;
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px 0 0 20px;
}
.slider-card:hover {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(91, 179, 54, 1);
  -moz-box-shadow: 0px 0px 15px 1px rgba(91, 179, 54, 1);
  box-shadow: 0px 0px 15px 1px rgba(91, 179, 54, 1);
  transition: all 0.5s;
  border: 0;
}
.slider-card h4 {
  font-weight: 900;
  margin-top: 10px;
}
.slider-card img {
  width: 20% !important;
  height: auto;
}
.slider-card p {
  text-align: center;
  margin-top: 10px;
}

/* =========== Footer =========== */
.footer-section {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border-top: 1px solid #c7c7c7c7;
}
.footer-section-col {
  max-width: 100%;
}
.footer-section-col img {
  width: 50%;
  height: auto;
}
.footer-section-col p {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-section-col h4 {
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-section-col li {
  list-style: none !important;
  margin-bottom: 10px;
  font-size: 16px;
}
.footer-section-col li:hover {
  color: #5bb336;
  font-weight: bold;
}
.footer-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}
.footer-row p {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 600;
}
#footer-icon {
  font-size: 20px;
  color: #5bb336;
}

/* =========== Register Section =========== */
.register-section {
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
.register-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}
.register-header h1 {
  font-weight: bold;
  margin: 0;
  color: #5bb336;
}
.register-header p {
  margin: 0;
}
.register-header span a {
  color: #5bb336;
  font-weight: bolder;
  text-decoration: none;
}
.register-section-banner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-width: 100%;
}
.register-section-banner img {
  width: fit-content;
  height: auto;
  justify-self: center;
  align-self: center;
  display: flex;
  border-radius: 10px;
  width: 90%;
}
.register-btn {
  width: 100%;
  padding: 20px;
  background-color: #5bb336;
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
}
.register-btn a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

/* ========= Section Heading ========= */
.section-heading-container {
  background-color: #fff3ff;
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 95%;
}
.section-heading-container h1 {
  font-weight: 600;
}
.breadcrumb-item {
  color: #5bb336 !important;
  font-weight: bold !important;
}
.breadcrumb-item a {
  text-decoration: none !important;
  color: #777 !important;
}

/* ========= Category Wise Products ========= */
.shop-section {
  width: 100%;
  margin-top: 80px;
  padding: 25px;
}
.shop-section h4 {
  margin: 0 !important;
  font-size: 18px;
  color: #777;
}
.shop-section h1 {
  margin: 0 !important;
  color: #5bb336;
  font-weight: bolder !important;
}

/* =================== RESPONSIVE =================== */
@media only screen and (max-width: 768px) {
  /* ======== Top Navbar ======== */
  .top-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    padding-top: 15px;
  }
  .top-navbar-brand img {
    display: none;
  }
  .top-nav-support-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid #c5c5c5c5;
  }
  .top-nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 100%;
  }
  .top-nav-inner-row:hover {
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
    transition: initial;
  }

  /* ========= Navbar ========= */
  .navbar-brand {
    max-width: 50% !important;
    height: auto;
    display: initial !important;
  }
  .navbar-brand img {
    width: 50%;
    height: auto;
  }
  .dropdown:hover .dropdown-menu {
    display: initial;
    margin-top: initial;
  }
  .dropdown-image {
    display: none !important;
  }
  .dropdown-row {
    display: none;
  }
  .mobile {
    display: initial;
  }

  /* =========== Banner Section =========== */
  .banner {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    background-color: #cbf7be !important;
  }
  .banner-content {
    padding: 20px;
    width: 100% !important;
    flex-direction: column !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .banner-content h1 {
    font-size: 30px !important;
    font-weight: bolder;
    line-height: 30px;
  }
  .banner-img {
    max-width: 50% !important;
  }
  .banner-img img {
    width: 100%;
    height: auto;
    border-top-right-radius: 20px !important;
  }
  #banner-red {
    background-color: #e6959d !important;
  }
  .carousel-control-prev-banner {
    display: none;
  }
  .carousel-control-next-banner {
    display: none;
  }

  /* =========== Category Slider Section =========== */
  .category-slider {
    display: none;
  }
  .carousel {
    background: none;
    background: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .category-slider-mobile {
    display: initial !important;
  }
  .inner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px !important;
    height: 210px;
    border-radius: 10px;
    margin: 10px;
  }
  .inner-card img {
    width: 50% !important;
  }
  .inner-card p {
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
  }
  .carousel-control-prev {
    margin-top: 280px !important;
  }
  .carousel-control-prev-icon {
    content: url("../images/icons/arrow-back-circle-outline.svg");
    background: #00000000;
    margin: 0;
  }
  .carousel-control-next {
    margin-top: 280px !important;
  }
  .carousel-control-next-icon {
    content: url("../images/icons/arrow-forward-circle-outline.svg");
    background: #00000000;
    margin: 0;
  }

  /* =========== Bestseller Section =========== */
  .section-label {
    margin-top: 100px;
    margin-bottom: 5px !important;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  }
  .best-seller-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* =========== Newsletter Section =========== */
  .newsletter-section {
    margin-top: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 20px 20px 0 20px;
    background-color: #d8f1e5 !important;
    border-radius: 10px;
    max-width: 100%;
  }
  .newsletter-section h1 {
    font-weight: 700 !important;
    font-size: 30px;
    text-align: left;
  }
  .newsletter-section p {
    color: #777;
    font-size: 16px;
    text-align: left;
  }
  .newsletter-btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    border-radius: 100px;
    margin-top: 30px !important;
  }
  #plane-icon {
    margin-right: 20px;
    color: #777;
    font-size: 30px;
    padding-left: 15px;
    color: #5bb336 !important;
  }
  .newsletter-btn input {
    border: 0 !important;
    width: 100%;
  }
  .newsletter-btn input:focus {
    outline: 0 !important;
  }
  .newsletter-btn a {
    margin: 0;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    align-self: center !important;
    justify-self: center;
    width: 100%;
    background-color: #5bb336;
    top: 0 !important;
    border-radius: 100px;
    color: #fff;
    font-weight: bold;
  }
  .newletter-lottie {
    max-width: 200px;
    height: 200px;
    margin-top: 50px;
  }

  /* =========== Customer Feedback Section =========== */
  .feedback-section-main {
    margin-bottom: 80px;
    margin-top: 100px !important;
  }
  #desktop {
    display: none !important;
  }
  #mobile {
    display: initial !important;
  }
  .static-poster {
    width: 150px;
    height: 200px;
  }
  .static-poster h1 {
    font-weight: bold !important;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    line-height: 18px;
    font-size: 18px;
  }
  .reusable-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    margin: 0;
  }
  .carousel-control-prev-icon-reusable {
    content: url("../images/icons/arrow-back-circle-outline.svg");
    background: #00000000;
    margin-left: 0;
    width: 30px;
  }
  .carousel-control-next-icon-reusable {
    content: url("../images/icons/arrow-forward-circle-outline.svg");
    background: #00000000;
    margin-right: 0;
    width: 30px;
  }
  .slider-inner-row {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
  }
  .slider-card {
    width: 90%;
    height: 200px;
    border: 1px solid #e7e7e7e7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 0 20px 20px 0;
  }
  .slider-card h4 {
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-size: 16px;
  }
  .slider-card img {
    width: 20% !important;
    height: auto;
  }
  .slider-card p {
    text-align: center;
    font-size: 14px !important;
  }
  #prev,
  #next {
    margin: 0 !important;
  }

  /* ============ Footer Section ============ */
  .footer-section {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  #mobile-footer-header {
    margin-top: 50px;
  }

  /* =========== Register Section =========== */
  .register-section {
    margin-top: 10px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 !important;
    width: 100%;
  }

  .register-section-banner {
    display: none !important;
  }
}
